<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">

<body>
	<div layout:fragment="content" th:remove="tag">
	<main id="main" class="main">

	    <div class="pagetitle">
	      <h1>Blogs</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
	          <li class="breadcrumb-item active">Blogs</li>
	        </ol>
	      </nav>
	    </div>
	
	    <section class="section">
	      <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	          <div class="card">
	            <div class="card-body">
	              <h5 class="card-title"></h5>
	
	              <form class="row g-3" th:action="@{/blogs}" th:object="${blog}" id="blogForm" method="post" autocomplete="off" enctype="multipart/form-data">
					<div th:if="${error}" class="alert alert-danger">
					    <p th:text="${error}"></p>
					</div>
					<div th:if="${message}" class="alert alert-success">
					    <p th:text="${message}"></p>
					</div>
	                <div class="col-md-12" th:if="${blog.blogPostId != null}">
	                  <div class="form-floating">
	                    <input type="text" class="form-control" id="blogPostId" th:field="*{blogPostId}" placeholder="Blog Id" readonly data-required="false">
	                    <label for="blogPostId">Blog Id</label>
	                  </div>
	                </div>
	                <input type="hidden" class="form-control" id="blogPostId" th:field="*{blogPostId}" placeholder="Blog Id" readonly data-required="false" th:if="${blog.blogPostId == null}">
	                <div th:class="${blog.blogPostId != null? 'col-md-12' : 'col-md-12'}">
	                  <div class="form-floating">
	                    <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Title" data-required="true">
	                    <label for="title">Title <span style="color:red;">*</span></label>
	                  </div>
	                </div>
	                <div class="col-md-12">
		                  <div class="form-floating">
		                    <label for="image">Image</label> <br><br>
	              			<img id="imagePreview" th:src="${(blog.image!=null && blog.image!='')? blog.image : '/images/null-cover.jpg'}" alt="" width="820px" height="430px">
	              			<input type="file" accept="image/*" id="image" name="image" hidden="" onchange="previewImage(event,'imagePreview')">
	              			<p style="position: absolute; top: 55%; left: 38%; transform: translate(-50%, -50%);" onClick="document.getElementById('image').click();">
	              				<button class="btn btn-dark" type="button">Change</button>
	              			</p>
		                  </div>
	                </div>
	                <div class="col-md-12">
	                  <div class="form-floating">
	                    <textarea class="form-control" placeholder="Content" id="content" th:field="*{content}" style="height: 500px;" data-required="true"></textarea>
	                    <label for="content">Content <span style="color:red;">*</span></label>
	                  </div>
	                </div>
	                <div class="col-md-12" th:if="${blog.blogPostId != null}">
	                  <div class="form-floating">
	                    <input type="text" class="form-control" id="publishedDate" th:value="${blog.publishedDate}" placeholder="Published Date" data-required="false" readonly>
	                    <label for="budget">Published Date</label>
	                  </div>
	                </div>
	                <div class="col-md-12" th:if="${blog.blogPostId != null}">
	                  <div class="form-floating">
	                    <input type="text" class="form-control" id="updatedDate" th:value="${blog.updatedDate}" placeholder="Updated Date" data-required="false" readonly>
	                    <label for="updatedDate">Updated Date</label>
	                  </div>
	                </div>
					<div class="col-md-12" th:if="${blog.blogPostId != null}">
	                  <div class="form-floating">
	                    <select class="form-select" id="active" th:field="*{active}" aria-label="status">
	                      <option value="true" selected>ACTIVE</option>
	                      <option value="false">DEACTIVE</option>
	                    </select>
	                    <label for="floatingSelect">Status</label>
	                  </div>
	                </div>
	                
	                <div class="text-left">
	                  <button type="submit" class="btn btn-primary" onclick="validateForm(event)">Submit</button>
	                  <button type="reset" class="btn btn-secondary">Reset</button>
	                </div>
	                <div class="text-left">
						<span class="error-message"></span>
					</div>
	              </form>
	
	            </div>
	          </div>
	        </div>
	        
	    </section>
	
		
	  </main>
	</div>
</body>	
</html>